html {
  background: #21252B;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  color: #C8C8C8;

}

a {
  color: #474A4F;
  text-decoration: none;
}

textarea {
  display: relative;
  width: 99%;
  height: 99%;

  background-color: #282C34;
  color: #C8C8C8;
  font-size: 1rem;
  border: none;
  resize: none;
}

.grid-container {
  display: grid;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  height: 90vh;
  width: 95vw;

  grid-template-columns: 1fr 3fr;
  grid-template-rows: 40% auto;
  grid-gap: 0.5vh 0.5vh;
  grid-template-areas: 
    "controls input" 
    "display display"; 
}

.grid-children {
  background-color: #282C34;
  border: 1px solid #474A4F;
  padding: 1vh;
  color: #C8C8C8;
}

#title {
  color: #C8C8C8;
  text-align: center;
}

#controls {
  grid-area: controls;
  min-height: 50%;

}

#input {
  grid-area: input;
  min-height: 50%;
}

#display {
  grid-area: display;
}

@media (max-width: 800px) {
  .grid-container {
    display: grid;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 95vh;
    width: 98vw;
  
    grid-template-columns: auto;
    grid-template-rows: 21% 30% auto;
    grid-gap: 0.5vh 0.5vh;
    grid-template-areas: 
      "controls"
      "input" 
      "display"; 
  }
  
}